.consoleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consoleImageDiv {
    display: flex;
    flex-direction: row;
}

.consoleImages {
    max-width: 700px;
    width: 100%;
}

.consoleText {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
}


@media screen and (max-width: 490px) {
    .consoleImageDiv {
        flex-direction: column;
        width: 80%;
    }

    .consoleText {
        width: 80%;
    }

    .consoleText h1 {
        font-size: 1.5rem;
    }
}