.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 4rem;
    
}

.contentImage { 
    display:flex;
    justify-content: center;
}


.contentImage img {
    width: 60%;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 8px #666b;
}

.textStyling {
    width: 40%;
}


@media screen and (max-width: 490px ) {
    .contentImage img {
        width: 80%;
    }

    .textStyling {
        width: 80%;
    }

    
}